body,
html {
    font-family: Roboto, sans-serif;
}

body {
    height: 3000px;
}

/* CONTAINER */

.container {
    width: 91vw;
    max-width: 1300px;
    margin: 0 auto;
}


/* HEADER */

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
}

.header:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1c1c;
    box-shadow: 0 4px 21px rgba(0, 0, 0, 0.25);
}

.header__body {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.header__list {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.header__item {
    list-style-type: none;
    margin-right: 20px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    font-size: 22px;
    text-decoration: none;
    color: #fff;
}

/* CATEGORIES */

.categories {
    width: 100%;
    margin-top: 120px;
}

.categories__body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.categories__wrapper {
    box-sizing: border-box;
    flex: 0 0 50%;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
}

.categories__wrapper:last-child {
    padding-right: 0;
}

.categories__row {
    flex: 0 0 100%;
    display: flex;
    margin-bottom: 20px;
}

.categories__row:last-child {
    margin: 0;
}

.categories__list {
    display: flex;
    flex-wrap: wrap;
}

.categories__item {
    box-sizing: border-box;
    height: 200px;
    flex: 0 0 31.25%;
    padding: 35px;
    background-color: #fff;
    box-shadow: 0 0 36px rgba(0, 0, 0, 0.13);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.categories__item:nth-child(odd) {
    margin-right: 20px;
}

.categories__item_bigger {
    flex: 0 0 65.625%;
}

.categories__link-image img {
    width: 90px;
    height: 90px;
}

/* SLIDER */

.slider {
    width: 100%;
    height: 420px;
    background-color: #fff;
    box-shadow: 0 0 36px rgba(0, 0, 0, 0.13);
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.slider__pagination {
    position: absolute;
    z-index: 2;
    display: flex;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
}

.slider__pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #e3e3e3;
    margin-right: 10px;
    opacity: .3;
    transition: .3s all;
    cursor: pointer;
}

.slider__pagination-bullet:last-child {
    margin-right: 0;
}

.slider__pagination-bullet_state_active {
    opacity: .7;
}

.slider__button {
    width: 70px;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
    transition: all .5s;
}

.slider__button:hover {
    opacity: 1;
}

.slider__button_direction_left {
    position: absolute;
    left: 0;
    border-radius: 30px 0 0 30px;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, .3), rgba(255, 255, 255, 0));
}

.slider__button_direction_right {
    position: absolute;
    right: 0;
    border-radius: 0 30px 30px 0;
    background-image: linear-gradient(-90deg, rgba(255, 255, 255, .3), rgba(255, 255, 255, 0));
}

.slider__button_direction_right img,
.slider__button_direction_left img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(.7);
}

.slider__button_direction_left img {
    left: 15px;
}

.slider__button_direction_right img {
    right: 15px;
}

.slider__wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    transition: all .3s;
}

.slider__item-link {
    flex: 0 0 100%;
}

.slider__item-link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 767px) {
    .header__body {
        justify-content: flex-end;
        align-items: center;
        height: 50px;
    }

    .header__burger {
        position: relative;
        width: 30px;
        height: 23px;
        z-index: 3;
        cursor: pointer;
    }

    .header__burger:before,
    .header__burger:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        background-color: #fff;
        transition: all .3s ease 0s;
    }

    .header__burger:before {
        top: 0;
    }

    .header__burger:after {
        bottom: 0;
    }

    .header__burger span {
        position: absolute;
        width: 100%;
        height: 3px;
        top: 10px;
        left: 0;
        background-color: #fff;
        transition: transform .3s ease 0s;
    }

    .header__burger-active span {
        transform: scale(0);
    }

    .header__burger-active:before {
        top: 10px;
        transform: rotate(45deg);
    }

    .header__burger-active:after {
        bottom: 10px;
        transform: rotate(-45deg);
    }

    .header__menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background-color: #1c1c1c;
        transition: all .3s;
    }

    .header__menu-active {
        right: 0;
    }

    .header__list {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: block;
        opacity: 1;
    }

    .header__list-active {
        transition: all .3s;
    }

    .header__item {
        margin-right: 0;
        margin-bottom: 20px;
        text-align: center;
    }

    .header__link {
        font-size: 30px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 640px;
    }

    .categories__wrapper {
        flex: 0 0 100%;
        justify-content: center;
        padding-right: 0;
        padding-bottom: 20px;
    }

    .categories__wrapper:last-child {
        padding-bottom: 0;
    }
}

@media (max-width: 992px) {
}

@media (max-width: 767px) {
    .container {
        width: 100vw;
        padding: 0 20px 0 20px;
    }

    .categories {
        margin-top: 80px;
    }

    .categories__list {
        width: 100%;
    }

    .categories__row {
        flex-wrap: wrap;
    }

    .categories__item {
        flex: 0 0 100%;
        margin-bottom: 20px;
    }

    .categories__item:last-child {
        margin-bottom: 0;
    }
}